<h2 id="title">Welcome to Ember</h2>

<div>
  {{date-time-picker initalDatetime options=options action="changeInitialDatetime"}}
  {{initialDatetime}}
</div>
<div>
  {{date-time-picker datetime action="changeDatetime"}}
  {{datetime}}
</div>
