<h2 id="title">Welcome to Ember</h2>

{{display-inline
  initialDatetime
  action=(action (mut initialDatetime))
}}
<button id="toggle" {{action "shouldShow"}}>toggle</button>
{{#if shouldShow}}
  {{display-regular
    datetime
    action=(action (mut datetime))
  }}
{{/if}}
<button {{action "clear"}}>clear all</button>
